nav ul li {
  display: inline;
  list-style-type: none;
  text-align: center;
}
nav ul li a {
  margin: 50px 0;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
nav ul li a:hover {
  color: white;
  text-decoration: none;
}

table {
  align: center;
  border-spacing: 75px 0;
}

td {
  padding: 10px 0;
}